{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/css/detail.css' %}">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      <li>Status: {{ task.get_completed_display }}</li>
    </ul>

    {% if task.completed == completed_statuses.NOT_STARTED %}
    <div>
      <form action="{% url 'advance_status' task.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Start</button>
      </form>
    </div>
    {% elif task.completed == completed_statuses.IN_PROGRESS %}
    <div>
      <form action="{% url 'advance_status' task.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Complete</button>
      </form>
    </div>
    {% endif %}

    <div>
      <a href="{% url 'index' %}">Top</a>
      <a href = "{% url 'delete' task.id %}">Delete</a>
      <a href="{% url 'update' task.id %}">Edit</a>
    </div>
  </body>

</html>